/*
Estilos pricipal de App
1.-HomeView
2.-RestaurantView

Estilos Globales
1.-Lista

*/

/* 1.- HomeView */
#HomeView .row{
	margin: 0px 10px;
}

.home-menu{
	margin: 5px 0px;
	padding: 0px;
	border-radius: 5px;
}

.home-menu:active{
	background-color: #AAA;
}

.home-menu img{
	height: 50px;
}

.home-menu span{
	height: 30px;
}

.home-menu img, .home-menu span{
	display: block;
	margin: 10px auto;
	text-align: center;
}

/* 2.- RestaurantView */

#restaurantView p{
	margin: 0;
}

#restaurantView span{
	font-weight: 700;
}

#restaurantView .col-panel{
	padding-top: 20px;
	padding-bottom: 20px;
	/*border-bottom: 1px solid #333;*/
}

#map { height: 180px; }

/* 2.- ListView */

.item-list{
	border-bottom: 1px #BBB solid;
	height: 80px;
}