#HomeView .row{
	margin: 0px 10px;
}

.home-menu{
	margin: 5px 0px;
	padding: 0px;
	border-radius: 5px;
}

.home-menu:active{
	background-color: #AAA;
}

.home-menu img{
	height: 50px;
}

.home-menu span{
	height: 30px;
}

.home-menu img, .home-menu span{
	display: block;
	margin: 10px auto;
	text-align: center;
}