/*
Estilos pricipal de App
1.-HomeView
2.-RestaurantView

Estilos Globales
1.-ListView

*/

/* 1.- HomeView */
#HomeView .row{
	margin: 0px 10px;
}

.home-menu{
	margin: 5px 0px;
	padding: 0px;
	border-radius: 5px;
}

.home-menu:active{
	background-color: #AAA;
}

.home-menu img{
	height: 50px;
}

.home-menu span{
	height: 30px;
}

.home-menu img, .home-menu span{
	display: block;
	margin: 10px auto;
	text-align: center;
}

/* 2.- RestaurantView */
#restaurantView h2{
	margin: 0px;
	line-height: 1em; 
}

#restaurantView p{
	margin: 0;
}

#restaurantView span{
	font-weight: 700;
}

#restaurantView .col-panel{
	background-color: #fff;
	border-bottom: 1px solid #aaa;
	padding: 15px 30px;
}

#restaurantView .int-panel{
	padding: 0px 15px;
}

.image-principal{
	height: 150px;
}

.image-principal div{
	height: 200px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#map { height: 180px; }

/* 1.- ListView */
.item-filter{
	background-color: #000;
	color:#fff;
	height: 40px;
}

.item-list{
	border-bottom: 1px #BBB solid;
	height: 80px;
}

.item-list img{
	float: left;
	height: 60px;
	margin-top: 10px;
}

.item-list span{
	float: left;
	font-size: 30px;
	margin: 20px 0px 0px 30px;
}

.item-list h3{
	float: left;
	margin-top: 10px;
}

.item-list .thumb-list{
	float: left;
	height: 60px;
	width: 100px;
	margin: 10px 20px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 3px;
}

/* 2.- View Filters*/

.button {
	display: block; 
	font-size: 12px; 
	text-decoration: none!important; 
	font-family: Helvetica, Arial, sans serif;
	padding: 8px 12px; 
	border-radius: 3px; 
	box-shadow: inset 0px 0px 2px #fff;
	color: #fff;
	border: 1px solid #4d4d4d;
	text-shadow: 1px 1px 1px #6d6d6d;
	background-color: #454545;}

.button:active, .active {
	background-color: #222;
	border: 1px solid #333;
}

.wrap{
	padding: 15px;
}