<div id="HomeView">
    <div class="row">
        <div id="restaurantes" class="col-xs-4 col-md-3 icon home-menu">
            <img src="img/icon_restaurantes.png">
            <span>Restaurantes</span>
        </div>
        <div id="eventos" class="col-xs-4 col-md-3 icon home-menu">
            <img src="img/icon_eventos.png">
            <span>Eventos</span>
        </div>
        <div id="servicios-profesionales" class="col-xs-4 col-md-3 icon home-menu">
            <img src="img/icon_servicios.png">
            <span>Servicios Profesionales</span>
        </div>
        <div id="noticias" class="col-xs-4 col-md-3 icon home-menu">
            <img src="img/icon_noticias.png">
            <span>Noticias</span>
        </div>
        <div id="radio-globalisimo" class="col-xs-4 col-md-3 icon home-menu">
            <img src="img/icon_radio.png">
            <span>Radio Globalisimo</span>
        </div>
        <div id="recientes" class="col-xs-4 col-md-3 icon home-menu">
            <img src="img/icon_restaurantes.png">
            <span>Recientes</span>
        </div>
        <div id="cerca-de-mi" class="col-xs-4 col-md-3 icon home-menu">
            <img src="img/icon_eventos.png">
            <span>Cerca de mi</span>
        </div>
        <div id="promociones" class="col-xs-4 col-md-3 icon home-menu">
            <img src="img/icon_noticias.png">
            <span>Promociones</span>
        </div>
        <div id="acerca-de-nosotros" class="col-xs-4 col-md-3 icon home-menu">
            <img src="img/icon_servicios.png">
            <span>Acerca de nosotros</span>
        </div>
    </div>   
</div>
