<div id="restaurantCategoriesView">
	  <div class="item-filter"><span>Filtros</span></div>
    <div class="col-xs-12 item-categories" id="7 ">
      <img src="img/icon_eventos.png">
      <span>Bares</span>
    </div>
    <div class="col-xs-12 item-categories" id="18">
      <img src="img/icon_eventos.png">
      <span>Mexicana</span>
    </div>
    <div class="col-xs-12 item-categories" id="10">
      <img src="img/icon_eventos.png">
      <span>Cafes</span>
    </div>
    <div class="col-xs-12 item-categories" id="22">
      <img src="img/icon_eventos.png">
      <span>Pizza</span>
    </div>
    <select name="transporte">
    <option>Coche</option>
    <option>Avión</option>
    <option>Tren</option>
    </select>

    <form>
<input type="radio" name="sex" value="male">Male<br>
<input type="radio" name="sex" value="female">Female
</form>
</div>