<div id="restaurantView">
    {{#data}}
    <div class="row">
        <div class="col-xs-12 image-principal" >
            <div style="background-image:url('img/hamburguesa.jpg')"></div>
        </div>
        <div class="col-xs-12 col-panel">
            <div class="row">
                <div class="col-xs-9 ">
                    <h2>{{nombre}}</h2>
                    <p>{{categoria}}</p>
                    <p>{{direccion}}, {{ciudad}}</p>
                </div>
                <div class="col-xs-3">
                </div>
            </div>
        </div>
    	<div class="col-xs-12">
            <div id="map-wrap" data-coords="{{mapa}}">
                <div id="map-image" style="width:100%;height:100%">
                
            </div>
            <span>¿Cómo llegar?</span>
            </div>
            
        </div>
    	<div id="panel-call" class="col-xs-12 col-panel" data-phone="{{telefono}}">
    		<span>Llamar</span> {{telefono}}
    	</div>
    	<div class="col-xs-12 col-panel">
   			<p><span>Horario</span> Lunes a Viernes {{lunes-viernes}}</p>
    	</div>
    	<div class="col-xs-12 col-panel">
    		<span>Servicios</span>
            <div class="int-panel">
                <p><span>Wi-fi</span>{{wifi}}</p>
                <p><span>Serv. Domicilio</span>{{entrega_domicilio}}</p>
            </div>
    	</div>
    	<div class="col-xs-12">
		
    	</div>
    	
    </div>
    {{/data}}
</div>