<div id="restaurantCategoriesView">
	  <div class="item-filter"><span>Filtros</span></div>
    <div class="col-xs-12 item-categories" id="7 ">
      <img src="img/icon_eventos.png">
      <span>Bares</span>
    </div>
    <div class="col-xs-12 item-categories" id="18">
      <img src="img/icon_eventos.png">
      <span>Mexicana</span>
    </div>
    <div class="col-xs-12 item-categories" id="10">
      <img src="img/icon_eventos.png">
      <span>Cafes</span>
    </div>
    <div class="col-xs-12 item-categories" id="22">
      <img src="img/icon_eventos.png">
      <span>Pizza</span>
    </div>
</div>